/* font-family: 'Montserrat', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
/* estilos header */
/* estilos header */
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #596672;
    font-weight: 400;
    line-height: 30px;
}
h2{
    font-size: 45px;
    font-weight: 400;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    max-width: 1110px;
    margin: auto;
}
.nav-superior{
    display: flex;
    align-items: center;
}
.logo{
    flex: 1;
    max-width: 50%;
}
.logo-img{
    width: 180px;
    height: 35px;
}
.contact{
    display: flex;
    max-width: 50%;
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    margin-left: auto;
}
.contact div{
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.contact a{
    margin-left: 10px;
    color: #a39694;
}
.contact-button a{
    border: 1px #ff3414;
    color: #ff3414;
    border-style: solid;
    padding: 15px 30px;
    font-size: 15px;
    transition: 0.4s;
}
.contact-button a:hover{
    color:#fff;
    background-color: #ff3414;
    transition: 0.4s;
}
.contact-link{
    font-size: 13px;
}
.contact-link i{
    color:#ff3414;
}
hr{
    border: none;
    height: 1px;
    color: #eaeaea;
    background-color: #eaeaea;
}
.container-fluid{
    max-width: 100%;
}
.nav-inferior{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    
}
.nav-inferior ul{
    display: flex;
}
.nav-inferior li{
    list-style: none;
    margin-right:50px;
}
.nav a{
    color: #596672;
    transition: 0.4s;
}
.nav a:hover{
    color: #a39694;
    transition: 0.4s;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3414;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: 0.4s;
    margin-left: auto;
    

}
.search:hover{
    justify-content: end;
    width: 300px;
    transition: 0.4s;
    padding-right: 10px;
}
/* estilos banner */
/* estilos banner */
#banner{
    position: relative; 
   height: 700px;
   background: url(recursos/banner.png);
}
.banner-filter{
    /* background: url(recursos/banner.png); */
    /* filter: brightness(60%); */
    height: 100%;
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 700px;
    color: #fff;
}
.banner h1{
    margin: 40px 0px;
    font-size: 60px;
    font-weight: 600;
}
.banner h3{
    font-weight: 400;
}
.banner-button a{
    border: 1px #ff3414;
    background-color: #ff3414;
    color: #fff;
    border-style: solid;
    padding: 15px 30px;
    transition: 0.4s;
}
.banner-button a:hover{
    border: 1px #fff;
    background-color: #fff;
    color: #ff3414;
    transition: 0.4s;
}

/* estilos servicios */
/* estilos servicios */

#skill{
    display: flex;
    height: 460px;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    font-weight: 300;
}
.skill{
    width: 270px;
}


#services{
    height: 700px;
    background-color: #f5fbff;
    color: #001d38;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.services{
    text-align: center;
}
.service-dad{
    display: flex;
    margin-top: 60px;
    text-align: left;
}
.service{
    margin-right: 22px;
}

/* estilos de 2do banner */
/* estilos de 2do banner */

#phone-banner{
    height: 400px;
    position: relative;
    background: url(recursos/contact_bg.png);
    display: flex;
    align-items: center;
}
.phone-banner{
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.phone-banner p{
    color: #fff;
    margin-top: 20px;

}
.phone-div{
    background-color: #ff3414;
    border-radius: 30px;
    width: 290px;
    height: 70px;
    text-align: center;
    font-size: 25px;
}
.phone-banner-filter{
    height: 100%;
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    background-color: rgba(17, 47, 73, 0.736);
}

/* estilos del about us */
/* estilos del about us */

.about{
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.about-img{
    background: url(recursos/about.png);
    width: 445px;
    height: 490px;
    box-shadow: 20px 20px 0px 5px #FF3414;
    
}

.about-content{
    width: 675px; 
    margin-left: 70px;
}

.about-content p{
    margin-top: 30px;
    font-weight: 300;
}
.about-content ul{
    margin-top: 30px;
} 
.about-content ul li{
    margin-top: 15px;
    list-style: none;
    color:#596672
}
.about-content ul li i{
    margin-right: 10px;
}
.about-button{
    margin-top: 60px;  
}
.about-button a{
    padding: 15px 50px;
}
.far{
    font-weight:100;
}
.fa-check-circle{
    color: #ff3414;
}

/* estilos del contador */
/* estilos del contador */
.counter{
    background: url(recursos/0ffcan.png);
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 85px;
}
.counter-content h2{
    color: #ff3414;
}
/* estilos de los comentarios */
/* estilos de los comentarios */

#comments{
    background: url(recursos/testmonial0.png);
    height: 700px;
    display: flex;     
}
.comments-dad{ 
    width: 100%;
}
.comments{
    max-width: 635px;
    height: 455px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.comments-comment{
    margin: 40px 0px;
    font-size: 19px;
    padding: 0px 70px;
    color: #001d38;
}
.comments-name{
    font-size: 15px;
    color: #001d38;
}
.comments-charge{
    font-size: 12px
}
.circles{
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.inner-circle{
    width: 15px;
    height: 15px;
    background-color: #ffd6d0;
    border-radius: 50%;
}
.middle-circle{
    background-color: #ff3414;
}

/* estilos del form */
/* estilos del form */

#form{
    background: url(recursos/Estimate_bg.png);
    height: 610px;
    position: relative;
    display: flex;
    align-items: center;
}
.form-dad{
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
    
}
.form-dad p{
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
    max-width: 340px;
}
.form-text{
    max-width: 375px;
    align-self: start;
    
}
.form-text h2{
    font-size: 25px;
    margin-bottom: 30px;
}
.phone-form{
    background-color: #ff3414;
    border-radius: 30px;
    width: 220px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    align-items: center;
}
.phone-form p{
    line-height: 45px;
}
.form{
    width: 100%;
    max-width: 732px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.form-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.div1{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.div2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.form-input input{
    width: 100%;
    max-width: 348px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #b2b9bf;
    border-radius: 5px;
    padding-left: 10px;
    color: #fff;
    font-weight: 600;
    outline: none;
    margin-bottom: 10px;
}
.margin-left{
    margin-left: 30px
}
.form-textarea{
    width: 100%;
}
.form-textarea textarea{
    max-height: 100px;
    width: calc(100% - 10px);
    border: 1px solid #b2b9bf;;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
textarea:focus{
    outline: none;
}
.form-button{
    width: 100%;
    border: 1px #ff3414;
    color: #ff3414;
    border-style: solid;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.4s;
}
.form-button:hover{
    color:#fff;
    background-color: #ff3414;
    transition: 0.4s;
}

/* estilos location */
/* estilos location */

#location{
    height: 310px;
    background-color: #f5fbff;
    display: flex;
}
.location{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location-location{
    display: flex;
}
.redes{
    margin-top: 30px;
}
.fab{
    margin-right: 15px;

}